---
name: Test Go
'on':
  push:
  pull_request:
jobs:
  test-go:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.25']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
      - name: Run tests
        run: go test ./...
      - name: Build
        run: go build ./...
